<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>m.emori.es</title>
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <!-- GOOGLE FONTS : begin -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700%7cMontserrat:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- GOOGLE FONTS : end -->
    <!-- STYLESHEETS : begin -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="library/css/skin/default.css">
    <link rel="stylesheet" type="text/css" href="library/css/custom.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- STYLESHEETS : end -->
</head>
