  <tabset type="pills" justified="true">
    <tab>
    	<tab-heading><i class="fa fa-camera"></i></tab-heading>
    	<image-upload></image-upload>
    </tab> 
    <tab>
    	<tab-heading><i class="fa fa-pencil-square-o"></i></tab-heading>
      <message-upload></message-upload>
    </tab>
    <tab>
    	<tab-heading><i class="fa fa-users"></i></tab-heading>
      <edit-users></edit-users>
    </tab>
    <tab>
    	<tab-heading><i class="fa fa-flag"></i></tab-heading>
      <create-milestone></create-milestone>
    </tab>
  </tabset>