.memory-container{
	padding: 1em 0 1em 0 ;
}

.memory-summary{
	position: relative;
	min-height: 10em;
	margin: 0 .5em 0 .5em;
	padding: 1em;
}

.participants{
	position: absolute;
    bottom: 1em;
    right: 1em;
}