<!DOCTYPE html>
<html>
    {{> head_static}}
    <body>
        {{> header_static this}}
        <!-- BODY : begin -->
        <div id="body">
            <!-- WRAPPER : begin -->
            <div id="wrapper">
                <!-- CORE : begin -->
                <div id="core">
                    <div class="container">
                        <!-- PAGE HEADER : begin -->
                        <!-- PAGE CONTENT : end -->
                        <div id="page-header">
                            <div class="container">
                                <h1>About</h1>
                                <ul class="breadcrumbs">
                                    <li><a href="/">Home</a></li>
                                    <li>About</li>
                                </ul>
                            </div>
                        </div>
                        <!-- PAGE HEADER : end -->
                        <!-- PAGE CONTENT : begin -->
                        <div id="page-content">
                            <div class="various-content">
                                <section>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>Our Story</h2>
                                            <p>m.emori.es is built from organic and top quality ingredients in Portland, Oregon. It was conceived and developed by a group of friends to solve basic planning and communication issues during group trips. The first version of m.emori.es premiered at <a href="http://hackgt.com">HackGT</a> in Atlanta, Georgia.</p>
                                            <p>
                                            <h3>Core Principles</h3>
                                            <p><strong>Dignity</strong> We do not subject our users (and never will) to advertisements. In addition, we have no interest and will never perform data experiments on users or mine data.</p>
                                            <p><strong>Privacy</strong> Data belongs to our users 100%. The m.emori.es team works for its user base and provides quality software to best manage your data. We will never share your data with third parties</p>
                                            <p><strong>Quality</strong> We're our own customer and we take our app experience seriously. In addition, we are not investment focused but rather product focused.</p>
                                            <p><strong>Security</strong> Since m.emori.es is not focused on advertisers, social networks or hype in-gneral, it allows us to focus on securing data and making sure your most candid moments always remain private between your friends.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>Protected Cloud License</h2>
                                            <p>Your data is protected for life and your data is guaranteed to always be privately owned by you.</p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CORE : end -->
                {{> bottom_panel_static}}
            </div>
            <!-- WRAPPER : end -->
            {{> footer_static}}
        </div>
        <!-- BODY : end -->
        {{> sidebar_static}}
        {{> scripts_static}}
    </body>
</html>
