<!DOCTYPE html>
<html>
    {{> header_static}}
    <body>

        <!-- HEADER : begin -->
        <header id="header" class="m-large m-enable-fixed m-fixed-bg">
            <div class="header-inner">
                <div class="container">

                    <!-- HEADER CONTENT : begin -->
                    <div class="header-content">

                        <!-- HEADER BRANDING : begin -->
                        <div class="header-branding">
                            <div class="header-branding-inner">
                                <a href="index.html"><img src="images/logo.png"  alt="m.emori.es"></a>
                            </div>
                        </div>
                        <!-- HEADER BRANDING : end -->

                        <!-- HEADER MENU : begin -->
                        <nav class="header-menu">
                            <ul>
                                <li class="m-active"><a href="contact.html">Home</a></li>
                                <li><a href="contact.html">Sign In</a></li>
                                <li><a href="contact.html">About</a></li>
                            </ul>
                        </nav>
                        <!-- HEADER MENU : end -->

                    </div>
                    <!-- HEADER CONTENT : end -->

                    <!-- MAIN SIDEBAR TOGGLE : begin -->
                    <button class="main-sidebar-toggle" type="button"><i class="fa fa-bars"></i></button>
                    <!-- MAIN SIDEBAR TOGGLE : end -->

                </div>
            </div>
        </header>
        <!-- HEADER : end -->

        <!-- BODY : begin -->
        <div id="body">

            <!-- WRAPPER : begin -->
            <div id="wrapper" class="m-large-header">

                <!-- CORE : begin -->
                <div id="core">

                    <!-- PAGE CONTENT : begin -->
                    <div id="page-content">
                        <div class="various-content">

                            <!-- FEATURES : begin -->
                            <section class="c-section m-force-margin">
                                <div class="section-inner">
                                    <div class="container">
                                        <div class="row">

                                            <div class="col-sm-4">

                                                <!-- ICON BLOCK : begin -->
                                                <div class="c-icon-block">
                                                    <i class="fa fa-calendar"></i>
                                                    <h3>Living Itineraries</h3>
                                                    <p>Event communciation and planning in real time</p>
                                                </div>
                                                <!-- ICON BLOCK : end -->

                                            </div>
                                            <div class="col-sm-4">

                                                <!-- ICON BLOCK : begin -->
                                                <div class="c-icon-block">
                                                    <i class="fa fa-cloud"></i>
                                                    <h3>Lifetime Storage</h3>
                                                    <p>Itineraries are stored forever. You own the data.</p>
                                                </div>
                                                <!-- ICON BLOCK : end -->

                                            </div>
                                            <div class="col-sm-4">

                                                <!-- ICON BLOCK : begin -->
                                                <div class="c-icon-block">
                                                    <i class="fa fa-lock"></i>
                                                    <h3>Private and Secure</h3>
                                                    <p>We share absolutely nothing with third parties.</p>
                                                </div>
                                                <!-- ICON BLOCK : end -->

                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-sm-4">

                                                <!-- ICON BLOCK : begin -->
                                                <div class="c-icon-block">
                                                    <i class="fa fa-comments-o"></i>
                                                    <h3>Uncluttered Planning</h3>
                                                    <p>Out chat feature isn't your oridnary chat. It's purpose built to facilitate planning and introduces a group decision engine.</p>
                                                </div>
                                                <!-- ICON BLOCK : end -->

                                            </div>
                                            <div class="col-sm-4">

                                                <!-- ICON BLOCK : begin -->
                                                <div class="c-icon-block">
                                                    <i class="fa fa-bullhorn"></i>
                                                    <h3>Automatic Group Notifications</h3>
                                                    <p>Participants are notified of relevant events. Including schedule changes.</p>
                                                </div>
                                                <!-- ICON BLOCK : end -->

                                            </div>
                                            <div class="col-sm-4">

                                                <!-- ICON BLOCK : begin -->
                                                <div class="c-icon-block">
                                                    <i class="fa fa-download"></i>
                                                    <h3>Stunning Exports</h3>
                                                    <p>Export your data into shareable standalone pages or albums with professionally designed themes.</p>
                                                </div>
                                                <!-- ICON BLOCK : end -->

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <!-- FEATURES : end -->

                            <hr class="c-divider m-negative-small m-transparent">



                            <!-- SERVICES SECTION : begin -->
                            <section class="c-section">
                                <div class="section-inner">

                                    <header class="section-header textalign-center">
                                        <div class="container">
                                            <h2>Learn more about M.emori.es</h2>
                                        </div>
                                    </header>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4">

                                                <!-- SERVICE : begin -->
                                                <div class="c-service">
                                                    <p class="service-image m-animated"><img src="images/travel1.jpg" alt=""></p>
                                                    <div class="service-ico"><i class="fa fa-gift"></i></div>
                                                    <div class="service-content">
                                                        <h3>Free to Try</h3>
                                                        <p>The first two itineraries are free and you own the data forever. Up to 200mbs.</p>
                                                        <p><a href="#" class="c-button m-outline">Learn More</a></p>
                                                    </div>
                                                </div>
                                                <!-- SERVICE : end -->

                                            </div>
                                            <div class="col-md-4">

                                                <!-- SERVICE : begin -->
                                                <div class="c-service">
                                                    <p class="service-image m-animated"><img src="images/travel2.jpg" alt=""></p>
                                                    <div class="service-ico"><i class="fa fa-cloud"></i></div>
                                                    <div class="service-content">
                                                        <h3>PCL Compatible Services</h3>
                                                        <p>Our cloud storage is directly owned by our users and is protected by the Protected Cloud License.</p>
                                                        <p><a href="#" class="c-button m-outline">Learn More</a></p>
                                                    </div>
                                                </div>
                                                <!-- SERVICE : end -->

                                            </div>
                                            <div class="col-md-4">

                                                <!-- SERVICE : begin -->
                                                <div class="c-service">
                                                    <p class="service-image m-animated"><img src="images/travel3.jpg" alt=""></p>
                                                    <div class="service-ico"><i class="fa fa-users"></i></div>
                                                    <div class="service-content">
                                                        <h3>Empowers Group Travel</h3>
                                                        <p>Our extensive services integration means you can accomplish more with less clicks.</p>
                                                        <p><a href="#" class="c-button m-outline">Learn More</a></p>
                                                    </div>
                                                </div>
                                                <!-- SERVICE : end -->

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </section>
                            <!-- SERVICES SECTION : end -->

                        </div>
                    </div>
                    <!-- PAGE CONTENT : end -->

                </div>
                <!-- CORE : end -->
                {{> bottom_panel_static}}
            </div>
            <!-- WRAPPER : end -->

           {{> footer_static}}

        </div>
        <!-- BODY : end -->

        {{> sidebar_static}}

        {{> scripts_static}}

    </body>
</html>
