<!DOCTYPE html>
<html>
    {{> head_static}}
    <body>
        {{> header_static this}}
        <!-- BODY : begin -->
        <div id="body">
            <!-- WRAPPER : begin -->
            <div id="wrapper">
                <!-- CORE : begin -->
                <div id="core">
                    <div class="container">
                        <!-- PAGE HEADER : begin -->
                        <!-- PAGE CONTENT : end -->
                        <div id="page-header">
                            <div class="container">
                                <h1>Getting Started</h1>
                                <ul class="breadcrumbs">
                                    <li><a href="/">Home</a></li>
                                    <li>About</li>
                                </ul>
                            </div>
                        </div>
                        <!-- PAGE HEADER : end -->
                        <!-- PAGE CONTENT : begin -->
                        <div id="page-content">
                            <div class="various-content">
                                <section>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>Starting a new Memory</h2>
                                            <p>A memory is a living itinerary. It can be used to plan everythng from a weekend outing to a party</p>
                                            <p>To start an new memory sign in to your m.emori.es app. You will see a blank canvas. Let's fix that by clicking the 'New Memory' button located at the very top of the app screen. </p>
                                            <p><img src="images/guide1.jpg" alt="Guide Step 1"></p>
                                            <p>This brings up a memory planning screen.


                                            </p>
                                            <p><img src="images/guide2.jpg" alt="Guide Step 2"></p>
                                            <h2>Add a Moment to your new Memory</h2>
                                            <p>Guide coming soon</p>
                                            <h2>Add a Milestone to your new Memory</h2>
                                            <p>Guide coming soon</p>
                                            <h2>Invite friends to joing a Memory</h2>
                                            <p>Guide coming soon</p>
                                            <h2>Initiate a group decision</h2>

                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CORE : end -->
                {{> bottom_panel_static}}
            </div>
            <!-- WRAPPER : end -->
            {{> footer_static}}
        </div>
        <!-- BODY : end -->
        {{> sidebar_static}}
        {{> scripts_static}}
    </body>
</html>
