@import '../../vendor/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'bootswatch/_variables';
@import 'bootswatch/_slate-theme';
@import '../../vendor/font-awesome/scss/font-awesome';

@import '_modules/_event';
@import '_modules/_timeline';
@import '_modules/_add-memory';
@import '_modules/_logo';
@import '_modules/_nav';

.radio-selected {
  color: $brand-info;
}

label {
  font-weight: normal;
}

.wrapping-label {
  display: block;
}

// TODO: probably remove this
.help-block {
  color: white;
}

// this makes the labels white instead of gray, which makes sense for radio or checkbox
.checkbox, .radio {
  color: white;
}

.text-lg {
  font-size: $font-size-large;
}

.text-sm {
  font-size: $font-size-small;
}