$add-memory__width: 98%;
$add-memory__left: (100% - $add-memory__width)/2;

.add-memory{
	width: $add-memory__width;
	margin-left: $add-memory__left;
	border-top: 0;
	border-radius: 0 0 4px 4px;
}

.add-memory__link{
	padding-top: .5em;
	display: block;
	text-align: center;
	.fa-2x{
		font-size: 1.9em;
	}
	&.active {
		color: $brand-info
	}
}