<li class="timeline-event--{{ timelineEvent.type }}">
  <div class="timeline-event__icon">
    <div class="timeline-info">
      <div class="timeline__timeline-date">
        <div class="timeline-date--date">{[{timelineEvent.date|date:'mediumDate'}]}</div>
        <div class="timeline-date--time">{[{timelineEvent.date|date:'mediumTime'}]}</div>
      </div>
    </div>
  </div>
  <!--- End icon -->
  <div class="event__event-content timeline-event appear-animation fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="400">
    <p class="event-content">
     {[{timelineEvent.value}]} <a class="location">{[{timelineEvent.value.location}]}</a>
   </p>
 </div>  
</li>
