<li class="timeline-event timeline-event--{{ timelineEvent.type }}">
  <div class="timeline-event__icon">
    <div class="timeline-info">
      <i fa="user"></i>
      <div class="timeline__timeline-date">
        <div class="timeline-date--date">{[{timelineEvent.date|date:'mediumDate'}]}</div>
        <div class="timeline-date--time">{[{timelineEvent.date|date:'mediumTime'}]}</div>
      </div>
    </div>
  </div>
  <!--- End icon -->
  <div class="event__event-content well appear-animation fadeInRight appear-animation-visible" data-appear-animation="fadeInRight" data-appear-animation-delay="400">
    <div class="event-content" ng-if="timelineEvent.type === 'message'">
      <p ng-bind="timelineEvent.value.text"></p>
    </div>
    <div class="event-content" ng-if="timelineEvent.type === 'image'">
      <p ng-bind="timelineEvent.value.text" ng-show="timelineEvent.value.text"></p>
      <p><img class="img-rounded" ng-src="{{timelineEvent.value.imageUrl}}"></p>
    </div>
    <div class="event-content" ng-if="timelineEvent.type === 'milestone'">
      <p>Milestone!</p>
    </div>
  </div>
</li>
